
Object_Practice/.DS_Store
*.xml
*.iml
*.pyc
Object_Practice/sample.txt
Object_Practice/venv/bin/activate
*.csh
*.fish
Object_Practice/venv/bin/easy_install
*.7
Object_Practice/venv/bin/pip
Object_Practice/venv/bin/pip3
Object_Practice/venv/bin/python
Object_Practice/venv/bin/python3
*.json
*.cfg
.DS_Store
*.6
test2/venv/bin/python3
test2/venv/bin/pip3
test2/venv/bin/python
test2/venv/bin/pip
test2/venv/bin/easy_install
test2/venv/bin/activate
test/venv/bin/python3
test/venv/bin/python
test/venv/bin/pip3
test/venv/bin/pip
test/venv/bin/easy_install
test/venv/bin/activate
