
Object_Practice/.DS_Store
*.xml
*.iml
*.pyc
Object_Practice/sample.txt
Object_Practice/venv/bin/activate
*.csh
*.fish
Object_Practice/venv/bin/easy_install
*.7
Object_Practice/venv/bin/pip
Object_Practice/venv/bin/pip3
Object_Practice/venv/bin/python
Object_Practice/venv/bin/python3
*.json
*.cfg
.DS_Store
